{#
/**
 * @file
 * Default theme implementation for a summary of an image automated_crop effect.
 *
 * Available variables:
 * - data: The current configuration for this automated_crop effect, including:
 *   - width: The width of the crop area to extract image.
 *   - height: The height of the crop area to extract image.
 *   - min_width : The minimum width of crop area.
 *   - min_height : The minimum height of crop area.
 *   - max_width : The maximum width of crop area.
 *   - max_height : The maximum height of crop area.
 *   - aspect_ratio : The aspect ratio of crop area to enforce, original aspect ratio of image.
 * - effect: The effect information, including:
 *   - id: The effect identifier.
 *   - label: The effect name.
 *   - description: The effect description.
 *
 * @ingroup themeable
 */
#}
{% if data.crop_type -%}
    {% trans %}
    uses <em>{{ data.crop_type|e }}</em> crop type
    {% endtrans %}
{%- endif %}
